#map { 
    height: 650px;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#title {
    font-family: sans-serif;
    color: whitesmoke;
}

#subtitle {
    width: 70%;
    text-align: left;
    font-family: sans-serif;
    color: dimgrey;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#gbd-date {
    font-size: 30px;
    font-family: sans-serif;
    color: whitesmoke;
    text-align: left;
    text-shadow: 2px 2px 35px #000000;
    
}

#panel {
    width: 100%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

#slider {
    width: 40%;
    height: 50px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.sequence-control-container {
    width: 250px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.legend-control-container {
    width: 300px;
    height: 250px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 25px;
    text-align: center;
    font-family: sans-serif;
    border: solid gray 1px;
}

#temporal-legend {
    color: dimgray;
}

#slideHeader {
    text-align: center;
    font-size: 12pt;
    font-family: sans-serif
}

#forward {
    float: right;
}

#reverse {
    float: left;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

/*Add CSS for div and header */
/* Container holding the image and the text */
#img-container {
  background-color: dimgray;
  position: relative;
  text-align: left;
  color: whitesmoke;
}

/* Top left text */
.bottom-left {
  position: absolute;
  top: 8px;
  left: 16px;
  font-family: sans-serif;
  font-size: 45px;
  font-weight: 600;
  text-shadow: 2px 2px 35px #000000;
  
}

#map-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}