#map { 
    height: 650px;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#title {
    font-family: sans-serif;
    color: whitesmoke;
}

#info {
    width: 70%;
    text-align: left;
    font-family: sans-serif;
    color: dimgrey;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sequence-control-container {
    border-radius: 5px;
    width: 300px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.legend-control-container {
    border-radius: 5px;
    width: 300px;
    height: 250px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 25px;
    text-align: center;
    font-family: sans-serif;
    border: solid gray 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#temporal-legend {
    color: dimgray;
}

#forward {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    float: right;
    background-color: gainsboro;
    color: dimgray;
}

#reverse {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    float: left;
    background-color: gainsboro;
    color: dimgray;
}

#iconF {
    height:30px;
    width: 30px;
    transform: scaleX(-1);
}

#iconR {
    height:30px;
    width: 30px;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

/*Add CSS for div and header */
#img-container {
  background-color: dimgray;
  position: relative;
  text-align: center;
  color: whitesmoke;
  height: 150px;
  width: 100%;
}

#coverImg {
    height: 150px;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
}

/* Top left text */
.bottom-left {
  position: absolute;
  top: 20px;
  left: auto;
  font-family: sans-serif;
  font-size: 45px;
  font-weight: 600;
  text-shadow: 2px 2px 35px #000000;
}

#map-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.range-slider {
  -webkit-appearance: none;
  width: 50%;
  height: 5px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: #FFC300;
  cursor: pointer;
}