#map { 
    height: 650px;
    width: 600px;
}

#title {
    font-family: sans-serif;
    color: dimgray
}

#subtitle {
    font-family: sans-serif;
    color: dimgrey
}

#gbdDate {
    font-family: sans-serif;
    color: dimgray;
    text-align: left;
}

#panel {
    width: 100%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

#slider {
    width: 40%;
    height: 50px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.sequence-control-container {
    width: 250px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.legend-control-container {
    width: 300px;
    height: 250px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 25px;
    text-align: center;
    font-family: sans-serif;
    border: solid gray 1px;
}

#temporal-legend {
    color: dimgray;
}

#slideHeader {
    text-align: center;
    font-size: 12pt;
    font-family: sans-serif
}

#forward {
    float: right;
}

#reverse {
    float: left;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}